<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.sqlite.JDBC" />
        <!--Connection URL-->
        <property name="url" value="jdbc:sqlite:hr.db" />
        <property name="username" value="root" />
        <property name="password" value="" />
    </bean >
		
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="datasource"/>	
        <property name="persistenceUnitName" value="autoservice"/>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">validate</prop>
                <prop key="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</prop>
                <!--<prop key="hibernate.hbm2ddl.import_files">init.sql</prop>-->
                                       
            </props>
        </property>
    </bean>	

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    
    <bean id="groupEmployeeBean"
        class="ru.company.hr.GroupEmployee">
    </bean>
    
    <bean id="groupManagerBean"
        class="ru.company.hr.GroupManager">
    </bean>
    
    <bean id="groupSalesmanBean"
        class="ru.company.hr.GroupSalesman">
    </bean>

</beans>